* {
    font-family: Roboto, sans-serif;
    /* margin: 0; */

}
/* Nav Bar */
nav {
    background-color: #222d3d;
   display: flex;
   align-items: center;
   justify-content: space-between;
   padding: 0;
   margin: 0;
   height: 80px;
}
.contect {
    display: flex;
    gap: 20px;
    margin-right: 20px;
}
a {
    text-decoration: none;
    color: #f9faf8;
}

/* Header Section */ 

header {
    background-color: #2b394d;
    display: flex;
    justify-content: space-evenly;
    /* padding-bottom: 100px; */
    /* border: 1px solid #e5e7eb; */
    height: 400px;
}

button {
background-color: #3882f6;
color: #f9faf8;
box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
text-decoration: none;
border: none;
padding: 10px;
}
.header-text {
    width: 400px;
    align-self: center;
    padding-left: 10px;
}

h1 {
    font-size: 48px;
    font-weight: 900;
    color: #f9faf8;
}
.sec {
    color: #e5e7eb;
    font-size: 18px;
}

/* Logo Tags */

.logo {
    width: 140px;
    height: 100x;
}
.logo-main {
    flex-shrink: 2;
    width: 400px;
    height: 400px;
}
 
/* Second Section */

.projects {
    display: flex;
    gap: 10px;
    margin: 0 10px;
}

.img-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.text {
    text-align: center;
}

.img {
    width: 160px;
    height: 120px;
    border: #3882f6 solid 2px;
    border-radius: 10px;
}
.text {
    font-size: 36px;
    font-weight: 900;
}
.text-small {
    font-family: Roboto, sans-serif;
    text-align: center;
}

body {
display: flex;
flex-direction: column;
align-content: space-between;
margin: 0;
}

/* Quote */

.quote {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 36px;
    font-style: italic;
    font-weight: lighter;
    color: #1f2937;
    background-color: #e5e7eb;
    padding-left: 50px;
    padding-right: 50px;
    height: 300px;
    

}
.quote-items {
display: flex;
flex-direction: column;
flex-wrap: wrap;
justify-content: center;
align-items: center;
}

.quote-auther {
    align-self: flex-end;
    font-size: 22px;
    font-weight: 600;
}
.quote-main {
box-sizing: border-box;
width: 800px;
height: 140px;
}

/* Call to Action */

.sign {
    display: flex;
    justify-content: center;
    align-items: center;
}

.sign-up {
    background-color: #3882f6;
    color: #f9faf8;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    padding-left: 30px;
    margin: 20px;
    width: 1000px;
    border-radius: 40px;
    gap: 50px;
}

.sign-up-box {
padding-bottom: 20px;

}
.your-time {
    height: 20px;
}
h3 {
    font-size: 24px;
    height: 20px;
}
.button {
    display: block;
    background-color: #3882f6;
    border-radius: 12px;
    color: #f9faf8;
    border: #f9faf8 solid 3px;
    font-size: 14px;
    margin-right: 20px;
    width: 130px;
}

footer {
background-color: #1f2937;
color: #e5e7eb;
font-size: 18px;
text-align: center;


}